extends ../layout

block content
  h1 Your tasks
  p
    a(href='/tasks/new', class='btn btn-primary') Add a Task


  - if(docs.length)
    table.table
      tr
        th Task
        th &nbsp;
        th &nbsp;
          each Task in docs
            tr
              td #{Task.task}
              td
                a.btn.btn-default(href='/tasks/#{Task.id}/edit') Edit
              td
                form(method='post', action='/tasks/' + Task.id)
                  input(name='_method', value='DELETE', type='hidden')
                  button.btn.btn-danger(type='submit') Delete
      tr
        td #{docs.length}
                 
                 

  - else
    p You don't have any tasks! 
